.register-page {
  background-color: var(--light-purple);
  min-height: 100vh;
  display: flex;
}

.app-info {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 50px;
}

.app-info * {
  z-index: 2;
}

.app-info img {
  z-index: 1;
  position: absolute;
}

.app-info .img-illustration {
  z-index: 2;
  position: static;
  width: 70%;
}

.app-info h1 {
  margin-left: max(15%, 10px);
  align-self: flex-start;
}

.register {
  flex: 1;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.register h2 {
  color: white;
}
